body {
    
}
* {
    margin:0px;
   
}

.header {
    height:150px;
    width:100%;
    background-color:#ff6a00;

}
.logo {
    position:absolute;
    top:5px;
    left:10px;
}
.title {
    padding-top:30px;
    text-align:center;
    font-family:monospace;
    font-family:'Comic Sans MS';
    
}
.subtitle {
    text-align:center;
}
.number {
    font-size:40px;
    margin-top:-60px;
    padding-right:30px;
    float:right;
}
.icon {
   content: url(icon.png);
   float:right;
   margin-right:310px;
   margin-top:-48px;
   height:30px;
}

ul {
    list-style-type:none;
    background-color:green;
    overflow:hidden;
}
li {
    float:left;
    
    
    
}
  li a {
        display:block;
        text-align:center;
        color:white;
        padding:14px 20px;
        text-decoration:none;
        font-size:20px;
        font-weight:bold;
        word-spacing:2px;
        
    }
.nav a:hover {
    background-color:red;
    height:28px;
}
.tutor1 {
    
    float:right;
    margin-left:235px;
    font-size:25px;
}
.tutor2 {
    
    float:left;
    margin-left:10px;
    font-size:25px;
}
.backpage {
    height:1300px;
    width:100%;
    background-image:url(backimage.jpeg);
    background-size:cover;
}
.frontpage {
    height:1170px;
    width:1000px;
    background-color:black;
    border:3px solid white;
    position:relative;
    top:50px;
    left:120px;
}
.heading1 {
    background-color: #808080;
    width: 90%;
    position: relative;
    left: 40px;
    top: 50px;
    padding-left:10px;
    padding-right:10px;
}
.heading2 {
    background-color: #808080;
    width: 90%;
    position: relative;
    left: 40px;
    top: 80px;
    padding-left:10px;
    padding-right:10px;
}
.heading3 {
    background-color: #808080;
    width: 90%;
    position: relative;
    left: 40px;
    top: 110px;
    padding-left:10px;
    padding-right:10px;

}
.heading4 {
    background-color: #808080;
    width: 90%;
    position: relative;
    left: 40px;
    top: 140px;
    padding-left:10px;
    padding-right:10px;

}

.content1  {
    width:90%;
    background-color:white;
    position:relative;
    left:40px;
    top:50px;
    padding:10px;
    line-height:25px;
}

.content2 {
    width:90%;
    background-color:white;
    position:relative;
    left:40px;
    top:80px;
    padding-left:10px;
    padding-right:10px;
}
.content3 {
    width:90%;
    background-color:white;
    position:relative;
    left:40px;
    top:110px;
    padding-left:10px;
    padding-right:10px;
}
.content4 {
    width:90%;
    background-color:white;
    position:relative;
    left:40px;
    top:140px;
    padding-left:10px;
    padding-right:10px;
}

    .pic {
    height:250px;
    width:100%;
    background-color:blue;
    color:white;
    
}
.footer1 {
    width:30%;
    text-align:center;
    padding-left:80px;
    padding-top:50px;
    display:block;
    float:left;
}
    .footer1 p {
        padding-top:20px;
    }
    .footer1 h4 {
        line-height:5px;
        
    }
.footer2 {
    width:30%;
    text-align:center;
    padding-top:50px;
    padding-left:200px;
    display:block;
    float:left;
    
}
.footer2 h2 {
    /*-webkit-text-stroke:1px red;*/
}
img {
    height:100px;
    float:left;
}